<table>
  <thead class="border-b border-gray-500">
    <tr class="text-left w-full">
      <th class="w-1/4">Title</th>
      <th class="w-1/4">Author</th>
      <th class="w-1/4">Publisher</th>
      <th class="w-1/4">Category</th>
    </tr>
  </thead>
  <tbody>
    <% books.each do |book| %>
      <tr class="w-full">
        <td class="w-1/4"><%= book.title %></td>
        <td class="w-1/4"><%= book.author %></td>
        <td class="w-1/4"><%= book.publisher %></td>
        <td class="w-1/4"><%= book.category %></td>
      </tr>
    <% end %>
  </tbody>
</table>
